<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->
<style>
    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2217 {
    padding: var(--sectionPadding);
    padding-top: 0px;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-2217 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2217 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-2217 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbsr-2217 .cs-list {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
  }
  #sbsr-2217 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
  }
  #sbsr-2217 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    border: 1px solid #bababa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
  }
  #sbsr-2217 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbsr-2217 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbsr-2217 .cs-li-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.8vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-2217 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
    font-size: min(2.32vw, .74em);
    width: 39.375em;
    height: 40.9375em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2217 .cs-image-group::before {
    content: "";
    width: 22.375em;
    height: auto;
    background: var(--secondary);
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 9em;
    bottom: 11.125em;
    left: 5.5em;
  }
  #sbsr-2217 .cs-picture {
    position: absolute;
  }
  #sbsr-2217 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2217 .cs-picture1 {
    width: 19.0625em;
    height: auto;
    border: 4px solid #FFFFFF;
    top: 0;
    bottom: 17.5625em;
    left: 0;
  }
  #sbsr-2217 .cs-picture2 {
    width: 25.8125em;
    height: auto;
    border: 4px solid #FFFFFF;
    top: 16.9375em;
    right: 0;
    bottom: 0;
  }
  #sbsr-2217 .cs-picture3 {
    width: 13.625em;
    height: 9.6875em;
    top: 5.25em;
    right: 4.6875em;
  }
  #sbsr-2217 .cs-graphic {
    /* 131px - 255px */
    width: clamp(5.8175rem, 15vw, 15.9375rem);
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
 
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

    
  #sbsr-2217 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #sbsr-2217 .cs-content {
    width: 47%;
    align-self: center;
  }
  #sbsr-2217 .cs-li {
    align-items: center;
  }
  #sbsr-2217 .cs-image-group {
    font-size: min(1.2vw, 1em);
    height: auto;
    flex: none;
    order: 2;
  }
}
                                
</style>
<section id="sbsr-2217">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="wedding photoshoot" width="297" height="366">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/4.jpg" alt="photograph of a woman" width="405" height="376">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/5.jpg" alt="children's birthday" width="218" height="155">
            </picture>
        </div>
        <div class="cs-content">
        
            <h2 class="cs-title">Protecting Houston Homes with Precision & Care</h2>
       
            <p class="cs-text">
            
              At Tenacious Gutters, we believe that protecting your home starts from the top down. As Houston’s trusted gutter experts, we provide precision crafted seamless gutter solutions designed to safeguard your foundation, prevent water damage, and enhance your home’s exterior.
              <BR><BR>
              Our team is committed to delivering high quality workmanship with durable materials that outperform standard store-bought options. Whether you need installation, replacement, or maintenance, we ensure your gutters work flawlessly so you never have to worry about water pooling at your home’s base or dealing with clogged systems.
</p>
           
              
              
<DIV style="margin: 50px 0px;"> {% include 'components/social-links.html' %}</DIV>
                    {% include 'components/cta_button.html' %}
        </div>
    </div>
  </section>
                                